<p>product works!</p>
<div style="padding: 150px">
  <!--<a routerLink="/products/10">Prodotto correlato 10</a><br>
  <a routerLink="/products/20">Prodotto correlato 20</a>-->
  <img class="" [src]="prodotto?.thumbnail"  height="225">
  <div class="card-body">{{prodotto?.title}}
    <p class="card-text">{{prodotto?.description}}</p>
    <p class="card-text">{{prodotto?.price}} €</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCard(prodotto?.id)">Add to cart</button>
      </div>
    </div>
  </div>
</div>

